body{
	background-color: while;
	margin:0px;
	
	}
header{
	background-color: bisque;
	height: 150px;
	border-style: outset;
	background-image:url(../img/photo/7.jpg);
	opacity:0.5;
}
h11{
	text-align:right;
	
}
.l{
	border-style: outset;
	width: 20%;
	height: 50%;
	float: left;
	line-height: 50px;
	background-color: #EFE5D0;
	padding: 10px;
	padding-top: 70px;
	margin-top: 10px;
	padding-bottom: 70px;
	background-image:url(../img/photo/5.jpg);
	opacity:0.5;
}
img{
	float: left;
}
a:hover{
	color: blueviolet;
	
}
.r{
	border-style: outset;
	width: 20%;
	height: 50%;
	float: right;
	line-height: 30px;
	background-color: #EFE5D0;
	padding: 10px;
	padding-top: 70px;
	margin-top: 10px;
	padding-bottom: 42px;
	background-image:url(../img/photo/8.jpg);
	opacity:0.5;
}
iframe{
	width:54%;
	margin-top: 10px;
}
.em{
	float: right;
}
.img{
	
}	
